{% extends 'base.jinja2' %}

{% block subtitle %}Add Donations{% endblock subtitle %}

{% block content %}
<form method="POST">
    <label for="name-input">Donorname:</label><input id="name-input" type="text" name="name"><br>
    <label for="donation-input">Amount:</label><input id="donation-input" type="number" name="donation"><br>
    <input type="submit" value="add donation">
</form>
{% endblock content %}
